<!-- <button class="btn btn-primary">Click Me</button>
<div class="text-center">Hello</div>
<div>Hello-- F --<i class="fa fa-address-book" aria-hidden="true"></i></div>
<div class="text-center">
    <button class="btn btn-outline-primary text-center" (click)="getData()">Get Data</button>
</div>
<div class="container mt-5 mb-5">
    <div class="row">

        <div class="col-lg-12 d-flex justify-content-center">
            <div class="card border-0w-25">
                <div class="card-body">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">@</span>
                        <input [(ngModel)]="name" type="text" class="form-control" placeholder="Username"
                            aria-label="Username" aria-describedby="basic-addon1">
                    </div>
                    <select [(ngModel)]="sel" class="form-select" aria-label="Default select example">
                        <option selected>Open this select menu</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="col-lg-12 d-flex justify-content-center mt-4">
            <button class="btn btn-outline-primary text-center" (click)="getData()">Get Data</button>
        </div>

    </div>
</div> -->

<section id="weather" class="d-flex align-items-center">
    <div class="container">
        <div class="row d-flex justify-content-center mt-5 mb-3">
            <div class="col-lg-5">
                <div class="card border-0 text-center">
                    <div class="card-header day">
                        <h5 class="card-title">DAY</h5>
                    </div>
                    <div class="card-body">
                        <input type="date" [(ngModel)]="date" (change)="clickfun()" class="form-control form-control-sm">
                        <div class="row">
                            <div class="col-lg-6 mt-1">
                                <i class="fa fa-4x fa-cloud-sun-rain"></i>
                                <p class="card-text pt-1"> <i class="fa fa-wind "></i> 24KM/H</p>
                            </div>
                            <div class="col-lg-6 mt-1">
                                <h5 class="card-title">Special title treatment</h5>
                                <p class="card-text">With sun to additional content.</p>
                                <h1 *ngIf="data" class="card-title">{{data[0].Temperature}}°C</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="card border-0 text-center">
                    <div class="card-header day">
                        <h5 class="card-title">DAY DETAILS</h5>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="p-0 m-0">With supporting text below as a natural lead-in to additional content.</p>
                        <p class="p-0 m-0">With supporting text below as a natural lead-in to additional content.</p>
                        <p class="p-0 m-0">With supporting text below as a natural lead-in to additional content.</p>
                        <p class="p-0 m-0">With supporting text below as a natural lead-in to additional content.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-4">
            <div class="col">
                <div class="card border-0 text-center">
                    <div class="card-header day-head">
                        <h5 class="card-title">MONDAY</h5>
                    </div>
                    <div class="card-body">
                        <i class="fa fa-4x fa-cloud-sun"></i>
                        <h1 *ngIf="data" class="card-title">24°C</h1>
                        <hr class="hr-primary">
                        <p class="text-muted">Augest 21</p>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card border-0 text-center">
                    <div class="card-header day-head">
                        <h5 class="card-title">TUESDAY</h5>
                    </div>
                    <div class="card-body">
                        <i class="fa fa-4x fa-cloud-sun"></i>
                        <h1 class="card-title">22°C</h1>
                        <hr class="hr-primary">
                        <p class="text-muted">Augest 22</p>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card border-0 text-center">
                    <div class="card-header day-head">
                        <h5 class="card-title">WEDNESDAY</h5>
                    </div>
                    <div class="card-body">
                        <i class="fa fa-4x fa-cloud-sun"></i>
                        <h1 class="card-title">23°C</h1>
                        <hr class="hr-primary">
                        <p class="text-muted">Augest 23</p>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card border-0 text-center">
                    <div class="card-header day-head">
                        <h5 class="card-title">THURSDAY</h5>
                    </div>
                    <div class="card-body">
                        <i class="fa fa-4x fa-cloud-sun"></i>
                        <h1 class="card-title">20°C</h1>
                        <hr class="hr-primary">
                        <p class="text-muted">Augest 24</p>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card border-0 text-center">
                    <div class="card-header day-head">
                        <h5 class="card-title">FRIDAY</h5>
                    </div>
                    <div class="card-body">
                        <i class="fa fa-4x fa-cloud-sun"></i>
                        <h1 class="card-title">28°C</h1>
                        <hr class="hr-primary">
                        <p class="text-muted">Augest 25</p>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card border-0 text-center">
                    <div class="card-header day-head">
                        <h5 class="card-title">SATURDAY</h5>
                    </div>
                    <div class="card-body">
                        <i class="fa fa-4x fa-cloud-sun"></i>
                        <h1 class="card-title">27°C</h1>
                        <hr class="hr-primary">
                        <p class="text-muted">Augest 26</p>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card border-0 text-center">
                    <div class="card-header day-head">
                        <h5 class="card-title">SUNDAY</h5>
                    </div>
                    <div class="card-body">
                        <i class="fa fa-4x fa-cloud-sun"></i>
                        <h1 class="card-title">26°C</h1>
                        <hr class="hr-primary">
                        <p class="text-muted">Augest 27</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row p-3 mb-1 custom-slider">
            <label for="customRange2" class="form-label text-light">Select Hours</label>
            <ngx-slider class="form-range text-light" id="customRange2" [(value)]="value" [options]="options">
            </ngx-slider>

            <!-- <input id="range" type="range" class="form-range" min="0" max="23" value="1" id="customRange2"> -->
        </div>

    </div>
</section>